
body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #f0f0f0;*/
}

br {
  background-color: #ccc;
  color: black;
  border: black;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
}
